*{
    margin: 0px;
    padding: 0px;
}
body{
background-color:#6DA5C0;
background-size: cover;
transition: opacity 0.3s ease;
cursor: pointer;
background: linear-gradient(to right,#152934,#79b9d6);

  
}

  
    
button{ 
    height: 100px;
    width: 300px;
    display: block;
    margin-bottom: 10px;
    border-radius: 60px;
    border: none;
    background-color: #1d3544;
    transition: 0.8s;
    cursor: pointer;
} 
.container{
   margin-top:1rem;
    display: flex;
    height:70%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div{
    margin-top: 6rem ;
}
 a button {
    text-decoration: none;
    font-size: 1.5rem;
    color:black;
    font-family: 'Oxygen', sans-serif;
}
h1{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color:#01111a;
    font-size: 50px;
}
button:hover{
    background-color: #294D61;
    transform: scale(1.1);
}
a{
    text-decoration: none;
}
.about{
    height:10rem;
    width:100%;
    background-color: rgba(255,255,255,0.2);
}
